.texto{text-align: center;
       font-size: 20px;
       color:black
}
#titulo{text-align: center;
       font-size: 30px;
       color: rgb(255, 115, 0);
}
{
       backgroud-imagem:linear-Gradient(255,255,240);
       color:white; 
}
       